* {
	box-sizing: border-box;
}

.centered-absolute {
   position: absolute;
   margin: 0 auto;
   left: 0;
   right: 0;
 }

 .black {
   background: #000000;
 }

 .brown {
   background: #7d4900;
 }

 .orange {
   background: #e88b00;
 }

 .red {
   background: #ff1e00;
 }

body {
	margin: 0;
	height: 999px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: rgba(220,220,220, 0.5);
}

.container {
	background: white;
	display: flex;
	justify-content: center;
	position: relative;
	width: 600px;
	height: 600px;
}

img {
	height: 600px;
	width: 600px;
}

.triangle-up { 
   width: 0; 
   height: 0; 
   border-left: 60px solid transparent;
   border-right: 60px solid transparent;
   border-bottom: 60px solid black;
 }

 .triangle-down { 
   width: 0; 
   height: 0; 
   border-left: 16px solid transparent;
   border-right: 16px solid transparent;
   border-top: 12px solid black;
 }

 .triangle-left { 
   width: 0; 
   height: 0; 
   border-top: 60px solid transparent;
   border-bottom: 60px solid transparent; 
   border-right: 60px solid black; 
 }

 .triangle-right { 
   width: 0; 
   height: 0; 
   border-top: 60px solid transparent;
   border-bottom: 60px solid transparent;
   border-left: 60px solid black;
 }

 .center-bottom {
 	align-self: end;
 	margin-bottom: 9px;
 }

 .pole {
 	position: absolute;
 	top: 463px;
 	left: 300px -0.5*width;
 	background: black;
 	width: 32px;
 	height: 116px;
 }
 .s-pole {
 	position: absolute;
 	top: 420px;
 	left: 300px -0.5*width;
 	background: black;
 	width: 10px;
 	height: 100px;
 }
 .lantern-black-triangle {
 	position: absolute;
 	top: 400px;
 	left: 300px -32px;
 	width: 0; 
    height: 0; 
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 24px solid black;
 }

 .lantern-body {
 	position: absolute;
 	background: black;
 	top: 230px;
 	left: 300px -0.5*width;
 	width: 100px; 
    height: 170px; 
 }

 .lantern-body-left {
 	position: absolute;
 	top: 230px;
 	left: 201px;
    width: 0; 
    height: 0; 
    border-left: 50px solid transparent;
    border-right: 0px solid transparent;
    border-top: 170px solid black;
 }

  .lantern-body-right {
 	position: absolute;
 	top: 230px;
 	left: 350px;
    width: 0; 
    height: 0; 
    border-left: 0px solid transparent;
    border-right: 50px solid transparent;
    border-top: 170px solid black;
 }

 .lantern-body-brown {
 	position: absolute;
 	background: #7d4900;
 	top: 240px;
 	left: 310px -0.5*width;
 	width: 80px; 
   height: 150px; 
 }

 .lantern-body-brown-left {
 	position: absolute;
 	top: 240px;
 	left: 216px;
    width: 0; 
    height: 0; 
    border-left: 44px solid transparent;
    border-right: 0px solid transparent;
    border-top: 150px solid #7d4900;
 }

 .lantern-body-brown-right {
 	position: absolute;
 	top: 240px;
 	left: 340px;
    width: 0; 
    height: 0; 
    border-left: 0px solid transparent;
    border-right: 44px solid transparent;
    border-top: 150px solid #7d4900;
 }

 .lantern-body-orange {
   position: absolute;
   background: #e88b00;
   top: 310px;
   left: 310px -0.5*width;
   width: 80px; 
   height: 80px;
 }

 .lantern-body-orange-left {
   position: absolute;
   top: 310px;
   left: 236px;
   width: 0; 
   height: 0; 
   border-left: 24px solid transparent;
   border-right: 0px solid transparent;
   border-top: 80px solid #e88b00;
 }

 .lantern-body-orange-right {
   position: absolute;
   top: 310px;
   left: 340px;
   width: 0; 
   height: 0; 
   border-left: 0px solid transparent;
   border-right: 24px solid transparent;
   border-top: 80px solid #e88b00;
 }

 .oval-orange {
    position: absolute;
    background: #e88b00;
    top: 278px;
    left: 237px;
    width: 126px;
    height: 64px;
    border-radius: 64px / 32px;
 }

 .flame {
   top: 340px;
   width: 40px; 
   height: 50px;
   border-radius: 10px 40px 0 0;
 }

 .circle-orange {
   position: absolute;
   background: #e88b00;
   width:30px;
   height: 37px;
   border-radius: 50%;
   top: 350px;
   left: 270px;
 }

 .top {
   width: 0; 
   height: 0; 
   border-left: 90px solid transparent;
   border-right: 90px solid transparent;
   border-bottom: 60px solid black;
   top: 170px;
 }

 .trapezoid {
   border-bottom: 20px solid black;
   border-left: 32px solid transparent;
   border-right: 32px solid transparent;
   height: 0;
   width: 50px;
   top: 495px;
 }

 .bottom-trap {
   border-top: 14px solid black;
   border-left: 5px solid transparent;
   border-right: 5px solid transparent;
   height: 0;
   width: 65px;
   top: 515px;
 }

 .box-mid-pole {
   width: 45px;
   height: 10px;
   top: 468px;
   border-radius: 30px;
 }

 .lantern-detail {
   position: absolute;
   top: 230px;
   left: 315px;
   width: 12px;
   height: 166px;
   transform: rotate(4deg);
 }

 .top-lantern {
   top: 150px;
   width: 0; 
   height: 0; 
   border-left: 50px solid transparent;
   border-right: 50px solid transparent;
   border-bottom: 60px solid black;
 }

 .semi-circle-top {
   height: 30px;
   width: 60px;
   border-radius: 30px 30px 0 0;
   top: 140px;
 }

 .box-1-top {
   width: 68px;
   border-radius: 2px 2px 0 0;
   height:4px;
   top: 185px;
 }

 .box-2-top {
   width: 74px;
   border-radius: 2px 2px 0 0;
   height:4px;
   top: 190px;
 }

.box-3-top {
   width: 14px;
   height: 40px;
   top: 110px;
 } 

 .box-4-top {
   width: 0; 
   height: 0; 
   border-left: 8px solid transparent;
   border-right: 7px solid transparent;
   border-bottom: 35px solid black;
   top: 76px;
 } 

 .box-5-top {
   width: 23px;
   height: 33px;
   top: 100px;
   border-radius:50%;
 } 

 .flame-6-tri {
   position: absolute;
   width: 0; 
   height: 0; 
   border-left: 20px solid transparent;
   border-right: 0px solid transparent;
   border-bottom: 40px solid #ff1e00;
   top: 349px;
   left: 285px;
 }

 .flame-7-tri {
   position: absolute;
   width: 0; 
   height: 0; 
   border-left: 8px solid transparent;
   border-right: 0px solid transparent;
   border-bottom: 5px solid #ff1e00;
   top: 383px;
   left: 280px;
 }

 .box-pole-bottom-base {
   width: 44px;
   height: 21px;
   top: 444px;
   border-radius: 0 0 5px 5px;
 }



/*
  Black: #000000
  Brown: #7d4900
  Orange:#e88b00
  Red:   #ff1e00
*/